[submodule "pack/colorschemes/start/molokai"]
	path = pack/colorschemes/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "pack/devel/opt/vim-go"]
	path = pack/devel/opt/vim-go
	url = https://github.com/fatih/vim-go.git
